*{
  font-size: 62.5%
}

/*=============Header==============*/
.navBar{
  display: flex;
  justify-content: space-around;
  border-bottom: 5px solid;
  height: 12vh;
  align-items: center;
}

.links{
  display: flex;
  border: 1px solid;
  font-size: 3rem;
  padding: 1%;
  color: white;
  background-color: black;
  text-decoration: none;
  width: 10%;
  height: 6vh;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}

.headerMessage{
  font-size: 4rem;
  font-weight: bolder;
  margin-right: 20%;
}

/*===========end of header==========*/
/*===========Login==================*/

.loginContainer{
  width: 70%;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.loginHeader{
  font-size: 10rem;
  font-weight: bolder;
  text-align: center;
  height: 8vh;
}

.formContainer{
  text-align: center;
}

.labels{
  font-size: 4rem;
  margin-right: 25%;
  font-weight: bolder;
}

.inputs{
  width: 45%;
  height: 7vh;
  background-color: black;
  margin-bottom: 3.5%;
  color: white;
  font-size: 2.5rem;
}

.submit:hover{
  cursor: pointer;
}

.error{
  font-size: 5rem;
  color: red;
  text-align: center;
}

/*===========end of login========*/
/*===========addFriends minor adjustments from login CSS========*/
.addFriendsInputs{
 width: 50.5%
}

.addFriendsSubmit{
  width: 51.3%
}
/*========end of addFriends adjustments========*/


